﻿@{
    ViewBag.Title = "Home Page";
}



        <main class="layout-two-column-component">
            <div id="vue-instance" class="layout-two-column-column-one">
                <div class="section-container-component security-registration-sheet register">
                    <div class="security-container">
                        <h1 class="security-title">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Tham gia ngay - Miễn phí &amp; Dễ dàng!
                                </font>
                            </font>
                        </h1>

                        <div class="register-sheet-component">
                            <form action="register.html" method="post" class="register-sheet-form">
                                <div class="register-form-line"><label for="registration_username"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">tên tài khoản</font></font></label> <div class="form-input-component"><!----> <input aria-label="tên tài khoản" id="registration_username" name="registration[username]" type="text" class="form-input-input form-input-large"> <!----></div></div> <!----> <div class="register-form-line"><label for="registration_email"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-mail</font></font></label> <div class="form-input-component"><!----> <input id="registration_email" name="registration[email]" type="email" class="form-input-input form-input-large"> <!----></div></div> <!----> <div class="register-form-line"><label for="registration_password"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mật khẩu</font></font></label> <div class="form-input-component"><!----> <input id="registration_password" name="registration[password]" type="password" class="form-input-input form-input-large form-input-right"> <div class="icon-font-component form-input-icon form-input-right"><span class="icon-font-chess eye"></span></div></div></div> <!----> <!----> <!----> <div class="register-form-line">
                                    <label for="registration_skillLevel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cấp độ kỹ năng</font></font></label> <div class="form-select-component">
                                        <select id="registration_skillLevel" name="registration[skillLevel]" class="form-select-large">
                                            <!----> <!---->
                                            <option value="1">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Mới chơi cờ
                                                    </font>
                                                </font>
                                            </option>
                                            <option value="2">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Người bắt đầu
                                                    </font>
                                                </font>
                                            </option>
                                            <option value="3">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Trung gian
                                                    </font>
                                                </font>
                                            </option>
                                            <option value="4">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Nâng cao
                                                    </font>
                                                </font>
                                            </option>
                                            <option value="5">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Chuyên gia
                                                    </font>
                                                </font>
                                            </option>
                                        </select> <div class="icon-font-component form-select-icon"><span class="icon-font-chess caret-down icon-font-primary"></span></div>
                                    </div>
                                </div> <!----> <input type="hidden" name="registration[timezone]" value="America/Los_Angeles"> <input type="hidden" id="registration__token" name="registration[_token]" value="-ueViB0qKZ06Ox7HBrq1_ZeOWPD0ZnFXqNVmZJa1CIo"> <input type="hidden" name="kountSessionId" value="7776e813048f488181849c65a3c20908"> <input type="hidden" name="fingerprint" value="8435ad9fca4ce3933523a24fa721e7f7"> <input type="hidden" name="registration[friend]"> <!----> <div class="register-form-line"><button disabled="disabled" type="submit" class="ui_v5-button-component ui_v5-button-primary ui_v5-button-small ui_v5-button-full register-form-form-submit" id="registration_submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tạo tài khoản miễn phí</font></font></button></div>
                            </form> <div class="register-sheet-line"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hoặc đăng ký bằng ...</font></font></div> <div class="register-sheet-line"><button type="button" class="form-button-component form-button-x-large form-button-full-width social-signin-button social-signin-facebook btn-facebook" aria-label="Kết nối với Facebook"><div class="icon-font-component social-signin-icon"><span class="icon-font-chess facebook"></span></div> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Facebook</font></font></span></button> <button type="button" class="form-button-component form-button-x-large form-button-full-width social-signin-button social-signin-google btn-google" aria-label="Kết nối với Google"><div class="icon-font-component social-signin-icon"><span class="icon-font-chess google"></span></div> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></span></button></div>
                        </div>

                        <div class="security-terms">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Tôi chấp nhận
                                </font>
                            </font><a target="_blank" href="agreement.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều khoản dịch vụ của</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> trang web </font><font style="vertical-align: inherit;">và đồng ý với </font></font><a target="_blank" href="privacy.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chính sách quyền riêng tư</font></font></a><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    .
                                </font>
                            </font>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layout-two-column-column-two">

                <section class="security-new-users security-preview-board">
                    <div class="security-user-overlay">
                        <h2>

                            <div class="icon-font-component security-user-overlay-icon
    ">
                                <span class="icon-font-chess user"></span>
                            </div>

                            47,399
                        </h2>
                        <p>New Members Today</p>
                    </div>
                </section>
                <section>
                    <div id="fb-root"></div>
                    <div class="security-facebook-likes">
                        <div class="fb-like"
                             data-href="https://www.facebook.com/chess"
                             data-width="270"
                             data-height="The pixel height of the plugin"
                             data-colorscheme="light"
                             data-layout="standard"
                             data-action="like"
                             data-show-faces="true"
                             data-send="false">
                        </div>
                    </div>
                    <div class="security-privacy-notice">
                        <h3>

                            <div class="icon-font-component security-privacy-notice-icon
    ">
                                <span class="icon-font-chess privacy"></span>
                            </div>

                            Privacy Guaranteed
                        </h3>
                        <p>Your email address &amp; personal info are safe and will NEVER be shared with anyone!</p>
                        <p>
                            We do NOT send marketing emails. See our complete Privacy Policy <a href="agreement.html" target="_blank">here</a>.
                        </p>
                    </div>
                </section>
            </div>
        </main>
      