﻿<!DOCTYPE html>
<html>
<head>
    <link as="font"
          crossorigin="crossorigin"
          href="~/Content/bundles/web/fonts/chessglyph-regular.58d5dd2e.woff2"
          rel="preload"
          type="font/woff2">
    <link as="font"
          crossorigin="crossorigin"
          href="~/Content/bundles/web/fonts/montserrat-700.5e7b9b6f.woff2"
          rel="preload"
          type="font/woff2">
    <link as="font"
          crossorigin="crossorigin"
          href="~/Content/bundles/web/fonts/montserrat-800.92157f3f.woff2"
          rel="preload"
          type="font/woff2">
    <link href="~/Content/bundles/app/css/base-v5.client.6afe93da.css"
          type="text/css"
          rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/bundles/web/favicons/favicon-32x32.c2a8280d.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/bundles/web/favicons/favicon-16x16.31f99381.png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/bundles/web/favicons/apple-touch-icon.f72d3fd3.png">
    <link rel="mask-icon" href="~/Content/bundles/web/favicons/safari-pinned-tab.1bf62bbf.svg" color="#4E7838">
    <link href="~/Content/bundles/app/css/base.client.0d6950d1.css"rel="stylesheet" />
    <link href="~/Content/bundles/app/css/adblocker-check.client.484b2383.css" rel="stylesheet" />
    <link href="~/Content/bundles/app/css/core.client.8a7d7744.css"          rel="stylesheet" />
    <link href="~/Content/bundles/app/css/navigation.client.8dba8422.css"
          type="text/css"
          rel="stylesheet" />
    <link href="~/Content/bundles/app/css/navigation-footer.client.964dfa5a.css"
          type="text/css" rel="stylesheet" />

    <link href="~/Content/bundles/app/css/layout-two-column.client.543b5e4c.css"
          type="text/css" rel="stylesheet" />

    <link href="~/Content/bundles/app/css/security.client.1b00c543.css"
          type="text/css"
          rel="stylesheet" />
    <meta name="theme-color" content="#312E2B" />
    <meta property="og:image" content="~/betacssjs.chesscomfiles.com/~/Content/bundles/web/images/social/share-home.191fadb7.png" />
    <meta name="twitter:image" content="~/betacssjs.chesscomfiles.com/~/Content/bundles/web/images/social/share-home.191fadb7.png" />
</head>
<body>
    @{
        ViewBag.Title = "Home Page";
    }

    <div class="base-layout">
        <div class="base-sidebar">



            <div id="new-game-modal"></div>
            <div id="login-register-modal"></div>
            <div id="shareable-game-url-modal"></div>
            <div id="message-modal"></div>
            <div id="upgrade-modal"></div>
            <div id="achievements-modal"></div>
            <div id="puzzle-battle-challenge-toaster"></div>
            <div id="notification-toasters"></div>
            <div id="offline-challenge-toaster" data-badge="challenges" data-badge-count="0"></div>
            <div id="old-browser-modal"></div>

            <div id="sb"
                 class="guest"
                 data-challenge-user="null"
                 data-constant-message-unread-count-max="100"
                 data-notifications-limit="200"
                 data-disabled-old-lessons="true"
                 data-feature-keyboard-navigation-in-use=""
                 data-feature-game-archive-filter-by-opponent-title="true"
                 data-feature-automate=""
                 data-feature-leagues=""
                 data-feature-library=""
                 data-feature-board-layout-resize-bottom="true"
                 data-feature-navigation-user-connection=""
                 data-feature-new-notifications=""
                 data-feature-upgrade-modals-redesign="true"
                 data-feature-upgrade-modals-onboard="true"
                 data-feature-upgrade-modals-svelte="true"
                 data-feature-guest-sign-up-modal="true"
                 data-feature-achievement-popup-to-toaster-migration="true"
                 data-feature-play-online=""
                 data-feature-platform-notification-game-move="true"
                 data-feature-platform-notification-game-move-client=""
                 data-feature-platform-services-chesstv-chat="true"
                 data-feature-iterable-track-without-email="true"
                 data-feature-ads-playwire-integration="true"
                 data-is-live=""
                 data-route-login-and-go="login_and_go.html"
                 data-feature-leaderboard-trend=""
                 data-route-register="register.html"
                 data-show-challenge-user=""
                 data-feature-v5-daily-dev-drills-forum-friends="true"
                 data-leaderboard-master-players-games-members="true"
                 data-feature-v5-messages-app-openings-surveys="true"
                 data-feature-home-club-events="">
                <div class="action toggle close">
                    <div class="icon-font">
                        <span class="icon-font-chess x"></span>
                    </div>
                </div>
                <div class="menu top">

                    <a aria-label="Chess.com - Play Chess Online"
                       data-panel="notifications"
                       class="link main-link chess-logo-wrapper sprite chess-logo"
                       href="index.html"
                       target="_self">
                        <span class="svelte-badge badge badge-alerts" data-badge="alerts" data-badge-count="0"></span>
                    </a>


                    <a data-panel="play"
                       href="play/computer.html"
                       target="_self"
                       class="link main-link top-level sprite play-top">
                        <span class="text">Play</span>
                        <span class="svelte-badge badge badge-games" data-badge="games" data-badge-count="0"></span>
                    </a>


                    <div class="nav-panel play"
                         data-routes="{&quot;automate&quot;:&quot;https:\/\/www.chess.com\/automate&quot;,&quot;leaderboard&quot;:&quot;https:\/\/www.chess.com\/leaderboard\/live&quot;,&quot;live&quot;:&quot;https:\/\/www.chess.com\/live&quot;,&quot;daily&quot;:&quot;https:\/\/www.chess.com\/daily&quot;,&quot;computer&quot;:&quot;https:\/\/www.chess.com\/play\/computer&quot;,&quot;playOnline&quot;:&quot;https:\/\/www.chess.com\/play\/online&quot;,&quot;puzzleBattle&quot;:&quot;https:\/\/www.chess.com\/puzzles\/battle&quot;,&quot;puzzles&quot;:&quot;https:\/\/www.chess.com\/puzzles\/rush&quot;,&quot;tournaments&quot;:&quot;https:\/\/www.chess.com\/tournaments&quot;,&quot;leagues&quot;:&quot;https:\/\/www.chess.com\/leagues&quot;,&quot;library&quot;:&quot;https:\/\/www.chess.com\/library&quot;,&quot;fourPlayer&quot;:&quot;https:\/\/www.chess.com\/4-player-chess&quot;,&quot;gameArchive&quot;:&quot;https:\/\/www.chess.com\/games\/archive&quot;}">
                    </div>

                    <a data-panel="puzzles"
                       href="puzzles.html"
                       target="_self"
                       class="link main-link top-level sprite puzzles-top">
                        <span class="text">Puzzles</span>
                    </a>


                    <div class="nav-panel puzzles"
                         data-routes="{&quot;dailyPuzzle&quot;:&quot;https:\/\/www.chess.com\/goto_daily_puzzle&quot;,&quot;drills&quot;:&quot;https:\/\/www.chess.com\/drills&quot;,&quot;puzzleBattle&quot;:&quot;https:\/\/www.chess.com\/puzzles\/battle&quot;,&quot;puzzles&quot;:&quot;https:\/\/www.chess.com\/puzzles\/rush&quot;,&quot;tactics&quot;:&quot;https:\/\/www.chess.com\/puzzles&quot;,&quot;soloChess&quot;:&quot;https:\/\/www.chess.com\/solo-chess&quot;}">
                    </div>

                    <a data-panel="learn"
                       href="lessons.html"
                       target="_self"
                       class="link main-link top-level sprite learn-top">
                        <span class="text">Learn</span>
                        <span class="svelte-badge" data-badge="lessonQuotaRefilled" data-badge-count="0" data-badge-text="&#9733;"></span>
                    </a>


                    <div class="nav-panel learn"
                         data-routes="{&quot;articles&quot;:&quot;https:\/\/www.chess.com\/articles&quot;,&quot;tactics&quot;:&quot;https:\/\/www.chess.com\/puzzles&quot;,&quot;lessons&quot;:&quot;https:\/\/www.chess.com\/lessons&quot;,&quot;videos&quot;:&quot;https:\/\/www.chess.com\/videos&quot;,&quot;openings&quot;:&quot;https:\/\/www.chess.com\/openings&quot;,&quot;explorer&quot;:&quot;https:\/\/www.chess.com\/explorer&quot;,&quot;drills&quot;:&quot;https:\/\/www.chess.com\/drills&quot;,&quot;vision&quot;:&quot;https:\/\/www.chess.com\/vision&quot;,&quot;analysis&quot;:&quot;https:\/\/www.chess.com\/analysis&quot;}">
                    </div>


                    <a data-panel="today"
                       href="today.html"
                       target="_self"
                       class="link main-link top-level sprite today-top">
                        <span class="text">Today</span>
                    </a>


                    <div class="nav-panel today"
                         data-routes="{&quot;chessToday&quot;:&quot;https:\/\/www.chess.com\/today&quot;,&quot;computerChampionship&quot;:&quot;https:\/\/www.chess.com\/computer-chess-championship&quot;,&quot;news&quot;:&quot;https:\/\/www.chess.com\/news&quot;,&quot;speedChessChampionship&quot;:&quot;https:\/\/www.chess.com\/article\/view\/2019-speed-chess-championship&quot;,&quot;proChessLeague&quot;:&quot;http:\/\/www.prochessleague.com&quot;,&quot;streamers&quot;:&quot;https:\/\/www.chess.com\/streamers&quot;}">
                    </div>

                    <a data-panel="connect"
                       href="forum.html"
                       target="_self"
                       class="link main-link top-level sprite connect-top">
                        <span class="text">Connect</span>
                    </a>


                    <div class="nav-panel connect"
                         data-routes="{&quot;articles&quot;:&quot;https:\/\/www.chess.com\/articles&quot;,&quot;news&quot;:&quot;https:\/\/www.chess.com\/news&quot;,&quot;forums&quot;:&quot;https:\/\/www.chess.com\/forum&quot;,&quot;blogs&quot;:&quot;https:\/\/www.chess.com\/blogs&quot;,&quot;clubs&quot;:&quot;https:\/\/www.chess.com\/clubs&quot;,&quot;friends&quot;:&quot;https:\/\/www.chess.com\/home\/friends&quot;,&quot;members&quot;:&quot;https:\/\/www.chess.com\/members&quot;,&quot;coaches&quot;:&quot;https:\/\/www.chess.com\/coaches&quot;,&quot;chessToday&quot;:&quot;https:\/\/www.chess.com\/today&quot;}">
                    </div>
                    <a data-panel="more"
                       class="link main-link top-level sprite more-top">
                        <span class="text">More</span>
                    </a>


                    <div class="nav-panel more"
                         data-routes="{&quot;computerChampionship&quot;:&quot;https:\/\/www.chess.com\/computer-chess-championship&quot;,&quot;dailyPuzzle&quot;:&quot;https:\/\/www.chess.com\/goto_daily_puzzle&quot;,&quot;leaderboard&quot;:&quot;https:\/\/www.chess.com\/leaderboard\/live&quot;,&quot;liveRankings&quot;:&quot;https:\/\/www.chess.com\/ratings&quot;,&quot;masterGames&quot;:&quot;https:\/\/www.chess.com\/games&quot;,&quot;voteChess&quot;:&quot;https:\/\/www.chess.com\/votechess&quot;,&quot;soloChess&quot;:&quot;https:\/\/www.chess.com\/solo-chess&quot;,&quot;topPlayers&quot;:&quot;https:\/\/www.chess.com\/players&quot;,&quot;resourcesPage&quot;:&quot;https:\/\/www.chess.com\/resources&quot;,&quot;mobileApps&quot;:&quot;https:\/\/www.chess.com\/play\/apps&quot;,&quot;rules&quot;:&quot;https:\/\/www.chess.com\/learn-how-to-play-chess&quot;,&quot;terms&quot;:&quot;https:\/\/www.chess.com\/terms&quot;}">
                    </div>



                    <a data-amplitude-props="{&quot;source&quot;:&quot;Unknown&quot;}"
                       href="registerbc91.html?returnUrl=https%3A//www.chess.com/register"
                       target="_self"
                       rel="nofollow"
                       class="button auth signup register">
                        <div class="icon-font icon">
                            <span class="icon-font-chess user-plus"></span>
                        </div>
                        <span class="label">Sign Up</span>
                    </a>

                    <a href="login_and_gobc91.html?returnUrl=https%3A//www.chess.com/register"
                       target="_self"
                       rel="nofollow"
                       class="button auth login">
                        <div class="icon-font icon">
                            <span class="icon-font-chess follow"></span>
                        </div>
                        <span class="label">Log In</span>
                    </a>
                </div>
                <div class="menu">



                    <a href="search.html"
                       target="_self"
                       class="action search">
                        <div class="toggle-search-box" data-tooltip-show="collapsed-nav" data-tooltip-content="Search">
                            <div class="icon-font">
                                <span class="icon-font-chess magnifying-glass"></span>
                            </div>
                            <span class="nav-label">Search</span>
                        </div>
                        <div class="svelte popover search">
                            <div class="arrow"></div>
                            <form action="https://www.chess.com/search/redirect" method="GET">
                                <input type="text" name="q" />
                            </form>
                        </div>
                    </a>

                    <a class="action has-popover help">
                        <div class="icon-font">
                            <span class="icon-font-chess circle-question"></span>
                        </div>
                        <span class="text">Help</span>
                    </a>

                    <div class="svelte dark popover help">
                        <div class="arrow"></div>

                        <a class="help-scout">
                            <div class="icon-font icon">
                                <span class="icon-font-chess circle-question"></span>
                            </div>
                            <span class="title">Ask a Question</span>
                        </a>

                        <a rel="noopener"
                           href="https://support.chess.com/collection/136-community-safety"
                           target="_blank">
                            <div class="icon-font icon">
                                <span class="icon-font-chess circle-block"></span>
                            </div>
                            <span class="title">Report Abuse</span>
                        </a>

                        <a class="user-snap">
                            <div class="icon-font icon">
                                <span class="icon-font-chess lightbulb"></span>
                            </div>
                            <span class="title">Make a Suggestion</span>
                        </a>

                        <a rel="noopener"
                           href="https://support.chess.com/category/135-membership-and-billing"
                           target="_blank">
                            <div class="icon-font icon">
                                <span class="icon-font-chess card"></span>
                            </div>
                            <span class="title">Billing Issues</span>
                        </a>

                        <a class="user-snap">
                            <div class="icon-font icon">
                                <span class="icon-font-chess bug"></span>
                            </div>
                            <span class="title">Report a Bug</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="base-container">
            <div id="scroll-top-anchor"></div>

            <div id="language-banner"></div>

            <header id="tb">
                <div class="menu">
                    <div class="action toggle open">
                        <div class="icon-font">
                            <span class="icon-font-chess menu"></span>
                        </div>
                    </div>

                    <a href="index.html"
                       class="link chess-logo-wrapper sprite chess-logo"
                       aria-label="Chess.com - Play Chess Online">
                    </a>
                </div>

            </header>

            @RenderBody()

            <footer id="navigation-footer" class="navigation-footer-component navigation-footer-hide ">
                <div class="navigation-footer-pages-component navigation-footer-left">
                    <a href="https://support.chess.com/"
                       class="navigation-footer-page-component"
                       target="_blank" rel="noopener">Help</a>
                    <a href="why.html"
                       class="navigation-footer-page-component"
                       target="_self">Why Join?</a>


                    <a href="about.html"
                       class="navigation-footer-page-component"
                       target="_self">
                        About
                    </a>

                    <a href="jobs.html"
                       class="navigation-footer-page-component"
                       target="_blank">
                        Jobs
                    </a>
                    <a href="club/chess-com-developer-community.html"
                       class="navigation-footer-page-component"
                       target="_blank">
                        Developers
                    </a>
                    <a href="agreement.html"
                       class="navigation-footer-page-component"
                       target="_blank">
                        User Agreement
                    </a>
                    <a href="privacy.html"
                       class="navigation-footer-page-component"
                       target="_blank">
                        Privacy Policy
                    </a>
                    <a href="community.html"
                       class="navigation-footer-page-component"
                       target="_blank">
                        Community Policies
                    </a>
                    <a href="index.html"
                       class="navigation-footer-page-component"
                       target="_self">
                        Chess.com &copy; 2020
                    </a>
                </div>
                <div class="navigation-footer-platforms-component">
                    <a aria-label="App for iOS / iPhone / iPad"
                       class="navigation-footer-platform-component navigation-footer-platforms-apple"
                       href="play/apps/ios.html">
                        <div class="icon-font-component navigation-footer-platform-icon">
                            <span class="icon-font-chess apple icon-font-primary"></span>
                        </div>
                    </a>
                    <a aria-label="App for Android"
                       class="navigation-footer-platform-component navigation-footer-platforms-android navigation-footer-platforms-gutter"
                       href="play/apps/android.html">
                        <div class="icon-font-component navigation-footer-platform-icon">
                            <span class="icon-font-chess android icon-font-primary"></span>
                        </div>
                    </a>
                    <a aria-label="Facebook"
                       class="navigation-footer-platform-component navigation-footer-platforms-facebook"
                       href="https://www.facebook.com/chess">
                        <div class="icon-font-component navigation-footer-platform-icon">
                            <span class="icon-font-chess facebook icon-font-primary"></span>
                        </div>
                    </a>
                    <a aria-label="Twitter"
                       class="navigation-footer-platform-component navigation-footer-platforms-twitter"
                       href="https://twitter.com/chesscom">
                        <div class="icon-font-component navigation-footer-platform-icon">
                            <span class="icon-font-chess twitter icon-font-primary"></span>
                        </div>
                    </a>
                    <a aria-label="Youtube"
                       class="navigation-footer-platform-component navigation-footer-platforms-youtube"
                       href="https://www.youtube.com/user/wwwChesscom">
                        <div class="icon-font-component navigation-footer-platform-icon">
                            <span class="icon-font-chess youtube icon-font-primary"></span>
                        </div>
                    </a>
                    <a aria-label="Twitch"
                       class="navigation-footer-platform-component navigation-footer-platforms-twitch"
                       href="https://www.twitch.tv/chess">
                        <div class="icon-font-component navigation-footer-platform-icon">
                            <span class="icon-font-chess twitch icon-font-primary"></span>
                        </div>
                    </a>
                    <a aria-label="Instagram"
                       class="navigation-footer-platform-component navigation-footer-platforms-instagram"
                       href="https://www.instagram.com/wwwchesscom">
                        <div class="icon-font-component navigation-footer-platform-icon">
                            <span class="icon-font-chess instagram icon-font-primary"></span>
                        </div>
                    </a>
                </div>
            </footer>
        </div>
    </div>

    <script>
window.PubSub = {};
  window.PubSub.options = {
    environment: 'prod',
    url: {
                                    socket: 'wss://services.chess.com/pubsub',
                          publish: 'https://services.chess.com/pubsub/publish',
        error: 'https://services.chess.com/pubsub/errors',
                  chat: 'https://services.chess.com/service/chat',
                presence: 'https://services.chess.com/service/presence',
          },
    logSubscriptionFailures: false,
  };</script>



    <div id="widget-alert-flash"
         twig-alerts="[]">
    </div>



    <script type="text/javascript">
var Config = {
      "cometd.url": "/cometd",
      "domain.main": "//www.chess.com",
      "domain.static": "//betacssjs.chesscomfiles.com",
      "domain.files": "//files.chesscomfiles.com",
      "domain.live": "//live.chess.com",
      "domain.live2": "//live2.chess.com",
      "domain.liveh2": "//liveh2.chess.com",
      "domain.live3": "//live3.chess.com",
      "domain.voice": "rtmp://voice.chess.com",
      "domain.cssjs": "//betacssjs.chesscomfiles.com",
      "domain.images": "//images.chesscomfiles.com",
      "domain.avatars": "//avatars.chesscomfiles.com",
      "domain.baseUrl": "",
      "isFacebookCanvas": false,
      "facebookId": "429665630433565",
      "pathToEngineWorker": "/bundles/app/js/vendor/jschessengine/stockfish.6983901b.js",
      "pathToEngineWorkerAlt": "/bundles/app/js/engine/stockfish.6983901b.js",
      "pathToDiagramViewerCSS": "/bundles/app/css/diagram-viewer.client.428230ad.css",
      "pathToDiagramViewerJS": "/bundles/app/js/diagram-viewer.client.3da8fd7a.js",
      "pathToJCE": "/bundles/app/js/vendor/jschessengine/jschessengine.min.5ea1f76f.js",
      "pathToWasmEngine": "/bundles/app/js/vendor/jschessengine/stockfish.6103b42f.bin",
      "pathToNonWasmEngine": "/bundles/app/js/vendor/jschessengine/stockfish.asm.1abfa10c.js",
      "pathToKomodoWorker": "/bundles/app/js/vendor/jschessengine/komodo.75017b80.js",
      "pathToWasmKomodo": "/bundles/app/js/vendor/jschessengine/komodo.b28431d8.bin",
      "pathToNonWasmKomodo": "/bundles/app/js/vendor/jschessengine/komodo.asm.79a4950f.js",
      "pathToEcoJson": "/bundles/app/js/common/json/eco.9cf2ee12.json",
      "pathToBook": "/bundles/app/js/vendor/jschessengine/books/book.c30917a9.json",
      "pathToBookSmall": "/bundles/app/js/engine/book-small.c30917a9.json",
      "pathToWebGL": "/bundles/app/js/vendor/webgl_three.61269fce.js",
      "pathToGamePreviewLoader": "/bundles/web/images/game-preview-loading.8677fb94.png",
      "pathToTinyMCE": "/bundles/app/js/tinymce-lazy.client.b063b69e.js",
      "oldThemes": false,
      "isLive": false,
      "isStaff": false,
      "noAvatar": '/bundles/web/images/user-image.007dad08.svg',
      "ad.noAds": true,
      "ad.layout": "ros",
      "ad.disabledAds": []
    };


        window.__CHESSCOM_RTL__ = false;

        //<![CDATA[
    context = {"i18n":{"locale":"en_US","contentLanguage":"any","mobile":{"computer":"Computer","daily_chess":"Daily Chess","tactics":"Tactics","lessons":"Lessons","videos":"Videos","articles":"Articles","forums":"Forums","friends":"Friends","messages":"Messages","stats":"Stats","settings":"Settings","trophies":"Trophies"}},"csrf":{"token":"jFsXVI2obkaPfRidNrj4AuD8qJgk9a95QtDrySz24MY","logout":"gmb6TgLa63GbxHEEXOHX9hOkEXkaK4_cAbhlNRDXpeY"},"amplitudeKey":"5cc41a1e56d0ee35d4c85d1d4225d2d1","iterableKey":"f771b86cf083441f992a4bb01d3d600f","adyen":{"key":"10001|D97C83A6DB30A889AAC517489C56512C733B365B8E5E2E5CB5FD860751EC3EC14A145FE6FD2EF1A338D375DB3D9F7B988631B64D4B9C9BE3DE007D8C60649F2BAC7B0798A869892B683110B2FE53E89EBB9923A0EF7113FDEEEBC57FDB21AA8F99D3757DB7C8A8E6458D3B628B357396E77CD3C31158B203BEDAF3AC56E11A94C3BA745CAE7847B6C7D5C6B1D6E68204147A9B98EC334560F94A484FC5335F8AA4716BF13E0153B9B0E7FF75384449563F935AF0173C5F8F1CBE20B1C91593C2F7AF07A83E48F31DA8F4F5959687A682823216342C6E1B36771AC42C9BF0E03F443D07D239F25EB916BC15A908796C698D296130A9BA4A925684416F9C759143","originKey":"pub.v2.1114841580210853.aHR0cHM6Ly93d3cuY2hlc3MuY29t.g3hcnpsxbNsbEo3XJP_laQJwLDCkoYfA1YmHG6Kns8g","sdk":"https:\/\/checkoutshopper-live.adyen.com\/checkoutshopper\/sdk\/3.4.0\/adyen.js"},"iterableMuteApiCallsFeature":false};
    //]]>

    context.version = '20200617111724';
    context.branch = 'master';
    context.commit = 'dc8e8b71e6b60fab65937a2b8140f53d5f50d5ea';
    context.requestId = '7a68ba845ed42842ff89d051bafdfc32';
    context.server = 'henley.chess.com';
    context.locale = 'en';
    context.environment = 'prod';
    context.cookies = {
      app: '',
    };

    context.ip = '1.55.14.42';</script>
    <div id='cdm-zone-end'></div>

    <script language="javascript">
if ('serviceWorker' in navigator) {
      navigator.serviceWorker.getRegistrations().then(registrations => {
        registrations.forEach(registration => {
          if (registration.active.scriptURL.includes('service-worker.client.js')) {
            registration.unregister();
          }
        });
      });
    }</script>
    <script defer src="bundles/app/js/facebook-sdk.client.c295d38e.js"></script>
    <script defer src="bundles/app/js/client/es6-translations/es6-translation.en_US.5a419d35.js"></script>
    <script defer
            src="bundles/app/js/vendor.client.369506bc.js"></script>
    <script src="bundles/app/js/amplitude.dll.6e9201c8.js"></script>

    <script defer src="../betacssjs.chesscomfiles.com/bundles/app/js/polyfill.client.e4d35176.js"></script>
    <script defer src="../betacssjs.chesscomfiles.com/bundles/app/js/vendor/intersection-observer/intersection-observer.min.571e3688.js"></script>
    <script src="bundles/app/js/core.dll.a10d9be9.js"></script>
    <script defer
            src="bundles/app/js/navigation.client.2397bceb.js"></script>
    <script src="bundles/app/js/vue.dll.165a8713.js"></script>
    <script defer
            src="bundles/app/js/base.client.010cbf94.js"></script>



    <script defer src="bundles/app/js/language-banner-loader.client.f44ec5f6.js"></script>


    <script data-src="/bundles/app/js/adblocker-check.client.85fc3920.js"></script>


    <script defer language="javascript" src="bundles/app/js/roles-config.client.a31dc146.js"></script>
    <script src="../browser.sentry-cdn.com/5.15.5/bundle.min.js" crossorigin="anonymous"></script>

    <script>
window.chesscom = window.chesscom || {};
      window.chesscom.sentry = {
        appCookie: '',
        incrementCallback: 'https://www.chess.com/metrics/fe_sentry',
        key: '',
      }</script>
    <script src="../betacssjs.chesscomfiles.com/bundles/app/js/sentry.client.8ff1e0f7.js"></script>





    <script defer src="bundles/app/js/security.client.8fc29d5d.js"></script>


    <!-- This is a timezone library, I'm not clear if this is needed, but is included on old Regsiter page -->
    <script src="../betacssjs.chesscomfiles.com/bundles/app/js/vendor/jstz.b77c3229.js"></script>
    <!-- pull in Kount script for new-user fingerprinting -->
    <script src="https://prod01.kaxsdc.com/collect/sdk?m=850100"></script>



    <div id="adblocker-check"></div>

    <div id="board-popover"></div>
    <div id="challenge-popover"></div>
    <div id="confirm-popover"></div>
    <div id="confirm-popover-inline"></div>
    <div id="cookie-banner"></div>
    <div id="form-datepicker"></div>
    <div id="language-picker-modal"></div>
    <div id="message-popover"></div>
    <div id="modal-video"></div>
    <div id="trophy-popover"></div>
    <div id="user-popover"></div>

    <div id="guest-modal"></div>
</body>
</html>
