﻿@using Chess.CMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<main class="layout-two-column-component">

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "layout-two-column-column-one", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="section-container-component security-registration-sheet register">
            <div class="security-container">
                <h1 class="security-title">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Tham gia ngay - Miễn phí &amp; Dễ dàng!
                        </font>
                    </font>
                </h1>

                <div class="register-sheet-component">
                    <form action="register.html" method="post" class="register-sheet-form">
                        <div class="register-form-line">
                            <label for="registration_email">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">E-mail</font>
                                </font>
                            </label>
                            <div class="form-input-component">
                                <!---->
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div> <!---->

                        <div class="register-form-line">
                            <label for="registration_email">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Pass</font>
                                </font>
                            </label>
                            <div class="form-input-component">
                                <!---->
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div> <!---->
                        <input type="submit" value="Đăng nhập" />

                    </form>
                    <div class="register-sheet-line">
                        <button type="button" class="form-button-component form-button-x-large form-button-full-width social-signin-button social-signin-facebook btn-facebook" aria-label="Kết nối với Facebook">
                            <div class="icon-font-component social-signin-icon">
                                <span class="icon-font-chess facebook"></span>
                            </div> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng ký</font></font></span>
                        </button>
                    </div>
                </div>

                <div class="security-terms">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Tôi chấp nhận
                        </font>
                    </font><a target="_blank" href="@Url.Action("Register","Account")"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều khoản dịch vụ của</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> trang web </font><font style="vertical-align: inherit;">và đồng ý với </font></font><a target="_blank" href="privacy.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chính sách quyền riêng tư</font></font></a><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            .
                        </font>
                    </font>
                </div>
            </div>
        </div>

        <div class="layout-two-column-column-two">

            <section class="security-new-users security-preview-board">
                <div class="security-user-overlay">
                    <h2>

                        <div class="icon-font-component security-user-overlay-icon
    ">
                            <span class="icon-font-chess user"></span>
                        </div>

                        47,399
                    </h2>
                    <p>New Members Today</p>
                </div>
            </section>
            <section>
                <div id="fb-root"></div>
                <div class="security-facebook-likes">
                    <div class="fb-like"
                         data-href="https://www.facebook.com/chess"
                         data-width="270"
                         data-height="The pixel height of the plugin"
                         data-colorscheme="light"
                         data-layout="standard"
                         data-action="like"
                         data-show-faces="true"
                         data-send="false">
                    </div>
                </div>
                <div class="security-privacy-notice">
                    <h3>

                        <div class="icon-font-component security-privacy-notice-icon
    ">
                            <span class="icon-font-chess privacy"></span>
                        </div>

                        Privacy Guaranteed
                    </h3>
                    <p>Your email address &amp; personal info are safe and will NEVER be shared with anyone!</p>
                    <p>
                        We do NOT send marketing emails. See our complete Privacy Policy <a href="agreement.html" target="_blank">here</a>.
                    </p>
                </div>
            </section>
        </div>

    }
</main>
