﻿
@{
    /**/

    ViewBag.Title = "Quản lý trận đấu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="FilterMarket ">
        <div class="col-md-2">
            <select type="select" class="selectMarket form-control" data-placeholder="Tất cả" id="listRound"></select>
            <i></i>
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-block" style="background-color:#03a9f4;color:white" id="btnsearch">Tìm kiếm</button>
    </div>
</div>
<div class="col-md-12" id="divResult">

</div>
<script type="text/javascript">
        $(document).ready(function () {
            LoadListRound();
        });
        function LoadListRound() {
            $.ajax({
                type: "GET",
                url: "/RankAfterRound/LoadListRound",
                dataType: "json",
                contentType: 'application/json',
                success: function (result) {
                    $('#listRound').html(' <option value="-1">Vòng đấu</option>' + result);
                },
                error: function (req, status, error) {
                }
            });
        };
        $('#btnsearch').click(function () {
            var roundID = $('#listRound').children("option:selected").val();
            if (roundID == -1) {
                toastr.error('Hãy chọn vòng đấu');
                return false;
            }
            else if (roundID < 1 || roundID > 11) {
                toastr.error('Vòng đấu không tồn tại');
                return false;
            }
            var model = $('#divResult');
            $.ajax({
            url: "@Url.Action("GetMatch", "Match")",
                type: "GET",
                data: { roundID: roundID },
            dataType: 'html',
                success: function (result) {
                    if (result != null || result != 0) {
                        model.empty();
                        model.html(result);
                    }
                    else {
                        toastr.error('Vòng đấu chưa tồn tại');
                    }
            },
            error: function (error) {
                toastr.error('Vòng đấu chưa tồn tại');
            }
        });
        });
</script>
