﻿@model IEnumerable<Chess.CMS.Areas.Admin.Models.RankAfterRoundViewModel>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Bảng xếp hạng</h2>
                <div class="clearfix"></div>
            </div>
            @if (Model != null)
            {
                <div class="x_content">
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info" data-page-length='25' data-order='[[6, "des" ]]'>
                            <thead>
                                <tr role="row">
                                    <th style="text-align:center">ID</th>
                                    <th style="text-align:center">Tên</th>
                                    <th style="text-align:center">Năm sinh</th>
                                    <th style="text-align:center">Quốc tịch</th>
                                    <th style="text-align:center">Tổng điểm</th>
                                    <th style="text-align:center">Tổng điểm đối thủ đã gặp</th>
                                    <th style="text-align:center">Elo tức thời</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.player.ID</td>
                                        <td>@item.player.name</td>
                                        <td>@item.player.birthday</td>
                                        <td>@item.player.country</td>
                                        <td>@item.score</td>
                                        <td>@item.changeScore</td>
                                        <td>@item.elo</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else <div><a>Chưa có bảng xếp hạng cho vòng đấu</a></div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
        });
    });
</script>
